.nav-main {
	@media screen and (min-width: 768px) {
		margin-left: 2rem;
	}
}

.nav-list {
	display: flex;
	align-items: center;
}

.nav-list-item-link {
	display: block;
	color: #fff;
	padding: 1rem;
	text-decoration: none;
	font-weight: 600;
}
