@import "../../../styles/vars";
.hero {
	position: relative;
	z-index: 1;
	padding-top: 8rem;
	@media screen and (min-width: 840px) {
		padding-top: 8rem;
		padding-bottom: 4rem;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("/bg-hero-noisy.png") no-repeat center center;
		background-blend-mode: multiply;
		mix-blend-mode: multiply;
		opacity: 0.5;
		z-index: -1;
	}
	.container {
		display: flex;
		align-items: center;
	}
	h1 {
		display: block;
		font-weight: 700;
		margin: 2rem 0 2rem 0;
		background: $orange -webkit-linear-gradient(43deg, $pink 0%, $orange 100%);
		background-image: linear-gradient(43deg, $pink 0%, $orange 100%);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 2.5rem;

		br:last-of-type {
			@media screen and (min-width: 840px) {
				display: none;
			}
		}

		> span {
			-webkit-background-clip: none;
			background-clip: none;
			-webkit-text-fill-color: white;
			color: white;
		}

		@media screen and (min-width: 768px) {
			font-size: 4rem;
		}
	}
}

.subhero {
	font-size: 1.4rem;
	margin-bottom: 0;
	font-weight: 300;
}

.portrait {
	margin-left: auto;
}

.bg-animate-hero {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;
}

.bg-hero {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 1024px;
	width: 100%;
	height: calc(100% - 16rem);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: -1;
	transform: translate(-50%, -50%);
}
.blob {
	@media screen and (max-width: 768px) {
		opacity: 0.3;
	}
	z-index: -1;
	transform-origin: 50% 50%;
	margin-left: auto;
	opacity: 1;
	overflow: hidden;
	svg {
		width: 500px;
		height: 500px;
		animation: move 20s ease-in-out infinite;
		> path {
			box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.9);
		}
	}
}

@keyframes move {
	0% {
		transform: scale(1);
	}
	38% {
		transform: scale(0.9, 1) rotate(160deg);
	}
	40% {
		transform: scale(0.9, 1) rotate(160deg);
	}
	78% {
		transform: scale(0.7) rotate(-20deg);
	}
	80% {
		transform: scale(0.7) rotate(-20deg);
	}
	100% {
		transform: scale(1);
	}
}
