.container {
	max-width: 1200px;

	margin: 0 auto;
	padding: 0 20px;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.space-x-4 {
	& > * + * {
		margin-left: 1rem;
	}
}

.space-x-8 {
	& > * + * {
		margin-left: 4rem;
	}
}

.mt-8 {
	margin-top: 4rem;
}
